<h2>List of members</h2>
<% @users.each do |user| %>
  <li><%= list_users_if_logged_in(user) %>    <%= show_edit_user(user) %>
  <%= show_destroy_user(user) %>  <%= show_user_link(user) %></li>

<% end %>


