<h2 class="header">List of members</h2>
<div class="column">
<% @users.each do |user| %>
  <li class="w-100 p-2 pl-5"><%= list_users_if_logged_in(user) %>    <%= show_edit_user(user) %>
  <%= show_destroy_user(user) %>  <%= show_user_link(user) %></li>
<% end %>
</div>


