/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";

.header {
  text-align: center;
  vertical-align: middle;
  line-height: 15px;
}

a {
  color: white !important;
}


h1, h2, h3 {
  color: darkslategray;
}

p {
  color:rgb(31, 30, 30);
}

li {
  list-style: none;
}

li:hover {
  background: linear-gradient(
    45deg,
    rgba(192, 228, 221, 0.794),
    rgba(81, 70, 98, 0.5) 100%
  );
}

form {
  background: linear-gradient(
    45deg,
    rgba(231, 241, 239, 0.794),
    rgba(219, 218, 219, 0.5) 100%
  );
}
 body {
  text-align: center!important;
  background: linear-gradient(
    45deg,
    rgba(231, 241, 239, 0.794),
    rgba(253, 251, 253, 0.5) 100%
  );
 }

#new_event {
  padding: 2rem;
  display: inline-block!important;
  margin-left: auto!important;
  margin-right: auto!important;
 }
