<h2>Create a new attendance</h2>
<%= form_with(model: @attendance) do |f| %>

  <p>
    <% f.label :attendee_id %> <br/>
    <% f.text_field :attendee_id, value: current_user.id %>
  </p>
  <p>
    <%= f.label :attended_event_id %><br />
    <%= f.collection_select :attended_event_id, Event.order(:title),:id,:title, include_blank: false %>
  </p>
    <%= f.submit %>
  </p>
<% end %>

